{% load site_tags wagtailcore_tags i18n %}

{% for menuitem in menuitems %}
    {% if sidenav and menuitem.has_children %}
        <li {% if menuitem.active %}class="active"{% endif %} class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header">{{ menuitem.title }}<i class="material-icons">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{% pageurl menuitem %}">{{ menuitem.title }}</a></li>
                            {% menu_children parent=menuitem %}
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    {% else %}
        <li {% if menuitem.active %}class="active"{% endif %}>
            <a
                href="{% pageurl menuitem %}"
                {% if menuitem.has_children %}
                    class="dropdown-button"
                    data-activates="{{ menuitem.slug }}"
                {% endif %}
            >
                {{ menuitem.title }}
            </a>
            {% if menuitem.has_children %}
                <ul class="dropdown-content {% if not top_level %}submenu{% endif %}" id="{{ menuitem.slug }}">
                    {# Display the current menu item in the dropdown if the menu item is at the top level of the menu #}
                    {% if top_level %}
                        <li>
                            <a href="{% pageurl menuitem %}">
                                {{ menuitem.title }}
                            </a>
                        </li>
                    {% endif %}
                    {% menu_items parent=menuitem %}
                </ul>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}