{% load site_tags wagtailcore_tags i18n %}

{% for menuitem in menuitems %}
    {% if sidenav %}
        {% if menuitem.has_children %}
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header">{{ menuitem.title }}<i class="material-icons">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="{% pageurl menuitem %}">{{ menuitem.title }}</a></li>
                                {% menu_items parent=menuitem sidenav=True %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        {% else %}
            <li><a href="{% pageurl menuitem %}">{{ menuitem.title }}</a></li>
        {% endif %}
    {% else %}
        <li>
            <a
                href="{% pageurl menuitem %}"
                {% if top_level %}
                    data-belowOrigin="true"
                {% endif %}

                {% if menuitem.has_children %}
                    class="dropdown-button no-right-padding"
                    data-activates="{{ menuitem.slug }}"
                {% endif %}
            >
                {% if menuitem.has_children and not top_level %}
                    <div class="menu-text">
                        <p>{{ menuitem.title }}</p>
                        <i class="material-icons">chevron_right</i>
                    </div>
                {% else %}
                    {{ menuitem.title }}
                {% endif %}
            </a>
            {% if menuitem.has_children %}
                <ul 
                    class="dropdown-content 
                    {% if not top_level %}submenu{% endif %}"
                    id="{{ menuitem.slug }}"
                >
                    {% menu_items parent=menuitem %}
                </ul>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}