{% load i18n wagtailroutablepage_tags materialize membertags %}

<h2 id="apply">{% trans 'apply now!'|title %}</h2>

{% for error in form.non_field_errors %}
    <div class="message error">{{ error }}</div>
{% endfor %}
{% for form in reference_forms %}
    {% for error in form.non_field_errors %}
        <div class="message error">{{ error }}</div>
    {% endfor %}
{% endfor %}

{% if position.is_past_due %}
<div class="alert alert-info" role="alert">
    {% trans 'The deadline for this application has passed.' %} {% trans 'You can no longer change your application.' %}
</div>
{% endif %}



<form id="application-form" method="post" action="{% routablepageurl page 'position' position.id  %}#apply">
    {% csrf_token %}
    <fieldset>
        <legend>
            <i class="material-icons">person</i>
            {% trans 'member information'|title %}
			{% status_badge request.user membership_status %}
        </legend>
        <div class="row">
            <div class="col l4 m6">
                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <input id="email" type="text" placeholder="{{ email }}" readonly>
                    <label for="email">{% trans 'email' %}</label>
                </div>
            </div>
            <div class="col l4 m6">
                <div class="input-field">
                    <i class="material-icons prefix">school</i>
                    <input id="study" type="text" placeholder="{{ request.user.study }}" readonly>
                    <label for="study">{% trans 'study program' %}</label>
                </div>
            </div>

            <div class="fab-button col s12"><a class="btn-floating btn-large btn-primary right" href="{% url 'profile' %}"><i class="material-icons">edit</i></a></div>
        </div>
    </fieldset>

    <fieldset>
        <legend><i class="material-icons">assignment_ind</i> {{ form.cover_letter.label|title }}</legend>

        <div class="input-field">
            <textarea
                id="{{ form.cover_letter.auto_id }}"
                name="{{ form.cover_letter.name }}"
                type="text"
                {% if status == 'submitted' %} readonly {% endif %}
                class="materialize-textarea validate{% if form.cover_letter.errors %} invalid{% endif %}">
                {{ form.data.cover_letter|default:form.cover_letter.initial }}
            </textarea>
            <label for="{{ form.cover_letter.auto_id }}">{{ form.cover_letter.help_text }}</label>
            {% if form.cover_letter.errors %}{% include 'materialize/form/field_errors.html' %}{% endif %}
        </div>
    </fieldset>

    <fieldset>
        <legend><i class="material-icons">assignment</i> {{ form.qualifications.label|title }}</legend>

        <div class="input-field">
            <textarea
                id="{{ form.qualifications.auto_id }}"
                name="{{ form.qualifications.name }}"
                type="text"
                {% if status == 'submitted' %} readonly {% endif %}
                class="materialize-textarea validate{% if form.qualifications.errors %} invalid{% endif %}">
                {{ form.data.qualifications|default:form.qualifications.initial }}
            </textarea>
            <label for="{{ form.qualifications.auto_id }}">{{ form.qualifications.help_text }}</label>
            {% if form.qualifications.errors %}{% include 'materialize/form/field_errors.html' %}{% endif %}
        </div>
    </fieldset>

    {{ reference_forms.management_form }}
    <fieldset>
        <legend><i class="material-icons">recent_actors</i> {% trans 'references'|title %}</legend>

        <div id="formset-container" class="row">
            {% for form in reference_forms %}
                {% include 'involvement/reference_form.html' with number=forloop.counter0 %}
            {% endfor %}
        </div>

        {% if status == 'draft' %}
            <div class="col s12 fab-button">
                <a id="add" class="btn-floating btn-large btn-primary right" href="{% url 'profile' %}"><i class="material-icons">add</i></a>
            </div>
        {% endif %}
    </fieldset>

    {% if not position.is_past_due %}
    <div class="col s12">
        {% if status == 'draft' %}
            <button id="submit" name="{{ form.status.name }}" type="submit" class="save btn btn-inverse disabled" value="draft">{% trans 'save as draft' %}</button>
            <button type="button" class="save btn btn-primary modal-trigger" data-target="application-form-save-modal">{% trans 'apply' %}</button>
        {% endif %}
    </div>
    {% endif %}


    <div id="application-form-save-modal" class="modal">
        <div class="modal-content">
            <p>När du har skickat in din ansökan kan du inte ändra den. Om du vill göra ändringar kan du spara ett utkast av din ansökan! Vill du skicka in din ansökan?</p>
            </br>
            <button name="{{ form.status.name }}" type="submit" value="submitted" data-target="application-form-save-modal" class="btn btn-primary modal-close">Ja</button>
            <button data-target="application-form-save-modal" class="btn btn-inverse modal-close">Nej</button>
        </div>
    </div>

</form>


<script type="text/html" id="formset-template">
    {% include 'involvement/reference_form.html' with form=reference_forms.empty_form number='__prefix__' %}
</script>
