{% extends "page.html" %}
{% load i18n wagtailroutablepage_tags %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3">
                    <a target="_self" {% if '/my_applications/' not in request.path %}class="active"{% endif %} href="{% routablepageurl page 'open_positions' %}">{% trans 'open positions' %}</a>
                </li>
                <li class="tab col s3">
                    <a target="_self" {% if '/my_applications/' in request.path %}class="active"{% endif %} href="{% routablepageurl page 'my_applications' %}">{% trans 'my applications' %}</a>
                </li>
            </ul>
        </div>
    </div>
    {% endif %}
    {% block involvement_content %}{% endblock %}
{% endblock %}