{% load i18n static wagtailroutablepage_tags wagtailimages_tags involvement_tags %}
{% with position=mandate.position %}
    <div class="col l4 m6 s12">
        <div class="card{% if color == 'primary' %} primary-color white-text{% elif color == 'secondary' %} secondary-color white-text{% endif %}">
            <div class="card-image">
                {% if position.role.team.logo %}{% image position.role.team.logo original as logo %}{% endif %}
                <img src="{% if logo %}{{ logo.url }}{% else %}{% static 'images/logo.svg' %}{% endif %}">
            </div>
            <div class="card-content">
                <span class="card-title">{{ position }}</span>
                <p><b>{% trans 'term of office'|capfirst %}: {{ mandate.term_from }} - {{ mandate.term_to }}</b></p>
            </div>
        </div>
    </div>

{% endwith %}