{% extends 'skeleton.html' %}
{% load branding_tags %}

{% block page %}
    <header>
    {% block header %}
        {% structure_header 'white' %}
        {% block navigation %}
            {% include 'partials/navigation.html' %}
        {% endblock %}
    {% endblock %}
    </header>

    <main>
    {% block main %}
        {% block content %}{% endblock %}
    {% endblock %}
    </main>

    <footer>
    {% block footer %}
        {% include 'partials/footer.html' %}
    {% endblock %}
    </footer>
{% endblock %}

{% block extra_js %}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script>
        $(document).ready(function(){
          $('.submenu-toggler').dropdown({
              inDuration: 300,
              outDuration: 225,
              constrain_width: false, // Does not change width of dropdown to that of the activator
              hover: true, // Activate on hover
              belowOrigin: false, // Displays dropdown below the button
              alignment: 'left' // Displays dropdown with edge aligned to the left of button
            }
          );
         
        });
    </script>
{% endblock %}