# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Django stuff:
*.log
local_settings.py
db.sqlite3
src/media/

# Compressor
CACHE/

# virtualenv
venv/

# PyCharm project settings
.idea/
.DS_Store

# ENV
.env
.env-normal

# VSCode
.vscode

postgres-data/
