Django[argon2]==2.2.13
wagtail==2.7.2

# External Libraries
requests==2.23.0

# Templates
django-compressor==2.4
django-libsass==0.8
wagtailfontawesome==1.2.1

# Scheduled tasks
django-kronos==1.0

# User management
rules==2.2
django-simple-email-confirmation==0.70

# Logging
raven==6.10.0

# Postgres
psycopg2-binary==2.8.5

# Phonenumber validation
phonenumbers==8.12.5

# Wagtail media module
wagtailmedia==0.5.0
