Django[argon2]==2.0.5
wagtail==2.1.1

# External Libraries
requests==2.19.1

# Templates
django-compressor==2.2
django-libsass==0.7
wagtailfontawesome==1.1.3

# Scheduled tasks
django-kronos==1.0

# User management
rules==2.0
django-simple-email-confirmation==0.23

# Logging
raven==6.7.0

# Postgres
psycopg2-binary==2.7.5