{% extends "modeladmin/create.html" %}
{% load i18n %}

{% block extra_css %}
{{ block.super }}
<style>
.field-content {
    font-size: 1.1em;
}
.field-content span {
    float: left;
    padding-top: 1.2em;
}
</style>
{% endblock %}

{% block form_action %}{% url 'involvement_position_modeladmin_approve' position.id %}{% endblock %}

{% block form %}
{% if formset.total_error_count != 0 %}
<div class="help-block help-warning">
    <div class="alert alert-danger" role="alert">
        <ul>
        {% for form in formset %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{{ formset.management_form }}
<ul class="objects">
{% for form in formset %}
    {# TODO: Make collapsable #}
    <li class="object">
        <h2>{{ form.instance.applicant }}</h2>
        <fieldset>
            <ul class="fields">
                {% include 'involvement/admin/application_overview_fields.html' with application=form.instance %}

                <li class="field typed_choice_field" style="margin-top: 10px;">
                    <div class="field typed_choice_field select">
                    {% if form.status.errors %}<div style="color: red;">{% endif %}
                        {{ form.status.label_tag }}
                    {% if form.status.errors %}</div>{% endif %}
                    <div class="field-content">
                        <div class="input">
                        {{ form.status }}
                        <span></span>
                        </div>
                    </div>
                    </div>
                </li>
            </ul>
        </fieldset>
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
    </li>
{% endfor %}
</ul>
{% endblock %}

{% block form_actions %}
    <div class="dropdown dropup dropdown-button match-width">
        <button type="submit" class="button action-save button-longrunning" tabindex="3" data-clicked-text="{% trans 'Saving...' %}" {% if page.locked %}disabled {% endif %}>
            <span class="icon icon-spinner"></span><em>{% trans 'Save' %}</em>
        </button>
    </div>
{% endblock %}