{% load i18n static instagram_client %}
<div class="instagram col s12 m{{ size }}">
	<div class="header">
		<img class="icon" src="{% static 'branding/images/social/instagram-black.png' %}"
        	alt="{% trans 'instagram icon'|capfirst %}">
		<span>@{{instagram_account_name}}</span>
	</div>
	{% instagram_user_recent_media instagram_account_name %}
	{% if recent_media.0 %}
		<a href="//instagram.com/p/{{ recent_media.0.shortcode }}" target="_blank">
			<img class="image" src="{{ recent_media.0.thumbnail_src }}" />
		</a>
	{% endif %}
</div>