{% load wagtailimages_tags %}
<div class="card horizontal">
  <div>
    <div class="card-stacked">
      <div class="card-content">
        <span class="card-title"> {{ event.title }}</span>
        <div class="rich-text"><p>{{ event.description }}</p></div>
        <div align="bottom">
          <p><b>Date: </b> {{ event.start_date|date:'l, M dS' }}</p>
          <p><b>Time: </b> {{ event.start_date|date:'H:i' }}-{{ event.end_date|date:'H:i' }}</p>
        </div>
      </div>
      <div class="card-action">
        <a href="{% url 'single-event-page' event.id %}">Read more and register</a>
      </div>
    </div>
  </div>
</div>
