.position-involvement .application {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 20px;
}

.utn-extra-margin{
    margin-top: 2em;
}

.CodeMirror * {
  font-family: monospace;
  font-size: 16px;
}
