.position-involvement .application {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 20px;
}

.object .field-row {
    padding-top: 0 !important;
}