{% extends "base.html" %}
{% load static i18n %}

{% comment %}This page is automatically used by django.contrib.auth.views{% endcomment %}

{% block title %}{% trans "Login" %} — {{ block.super }}{% endblock %}

{% block body_class %}layout-empty{% endblock %}

{% block page %}
{# TODO: BACK INSTEAD OF HOME #}
<a href="{% url 'index' %}" class="return-back">
	<i class="fa fa-long-arrow-left"></i> {% trans 'Return Back' %}</a>
</a>

<div class="container login-form">
	<div class="row">
		<div class="col-lg-5 col-lg-offset-4">
            <img class="center-block" src="{% static 'img/logo_white.png' %}" alt="{% trans 'The UTN Logo' %}" width="300px" style="padding-bottom: 25px;">
			<h2>Log into your UTN account</h2>

            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {% trans 'Your username and password didn\'t match. Please try again.' %}
                </div>
            <p></p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                <div class="alert alert-warning" role="alert">
                    {% trans 'Your account doesn\'t have access to this page. To proceed, please login with an account that has access.' %}
                </div>
                {# TODO: DO WE NEED THIS? #}
{#                {% else %}#}
{#                <p>Please login to see this page.</p>#}
                {% endif %}
            {% endif %}

			<form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{% firstof next %}" />

				<div class="form-group{% if form.errors %} has-danger{% endif %}">
					<label>{% trans 'username' %}</label>
					<input name="{{ form.username.name }}" type="text" class="form-control">
				</div><!-- /.form-group -->

				<div class="form-group{% if form.errors %} has-danger{% endif %}">
					<label>{% trans 'password' %}</label>
					<input name="{{ form.password.name }}" type="password" class="form-control">
				</div><!-- /.form-group -->

				<div class="form-group-btn">
					<button type="submit" class="btn btn-primary pull-right">{% trans 'sign in' %}</button>
				</div><!-- /.form-group-btn -->

				<div class="form-group-bottom-link">
					<a href="{% url 'password_reset' %}">{% trans 'I forgot my password' %} <i class="fa fa-long-arrow-right"></i></a>
				</div><!-- /.form-group-bottom-link -->
			</form>
		</div><!-- /.col-* -->
	</div><!-- /.row -->
</div><!-- /.container -->

{% endblock %}