{% load wagtailimages_tags %}
<div class="row">
    {% image value.image original as image %}

    {% if value.image_alignment == 'left' %}
        <div class="col s5 image-holder {% if value.hide_on_med %} hide-on-med-and-down{% endif %}">
            <img src="{{ image.url }}" />
        </div>
    {% endif %}

    <div class="icons col {% if value.hide_on_med %} l7 s12 {% else %} s7 {% endif %}">
        <div class="container">
            <h2>{{ value.title }}</h2>
            <div class="row">
                {% for icon in value.icons %}
                    <div class="icon col s6">
                        <h3><i class="material-icons">{{ icon.icon }}</i>{{ icon.title }}</h3>
                        <p>{{ icon.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if value.image_alignment == 'right' %}
        <div class="col s5 image-holder {% if value.hide_on_med %} hide-on-med-and-down{% endif %}">
            <img src="{{ image.url }}" />
        </div>
    {% endif %}
</div>