.pagination-wrapper {
	text-align: center;
}

.page-item {
	display: inline-block;	
	margin: 0 8px;
}

.page-link {
	border-radius: 50% !important;
	border: 0;
	box-shadow: 0 1px 2px rgba(#000, .2);
	color: $color-gray;
	font-weight: 700;
	height: 42px;
	line-height: 26px;
	text-align: center;
	transition: all .15s linear;
	width: 42px;

	&:hover {
		background-color: $color-primary;
		color: #fff;
	}

	.active & {
		background-color: $color-secondary !important;
		color: #fff;
	}
}