{% load i18n static compress wagtailcore_tags wagtailuserbar wagtailsettings_tags site_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_site_root as site_root %}
{% get_settings %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    {% compress css %}
    <link href="{% static 'fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'libraries/owl-carousel/owl.carousel.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'scss/material.scss' %}" rel="stylesheet" type="text/x-scss" id="css-primary">
    {% endcompress %}

    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}

    <title>
    {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{% firstof self.translated_title self.title %}{% endif %}
    {% endblock %}
    {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
            {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
    {% endblock %}
    </title>
</head>

<body class="moore {% block body_class %}{% endblock %}">
{% wagtailuserbar %}
{% block page %}
<div class="page-wrapper">
	<div class="header-wrapper">
	<div class="header">
		<div class="header-inner">
            <div class="header-colored">
					<div class="container">
						{% block colored_menu %}
                        {% endblock %}
					</div><!-- /.container -->
				</div><!-- /.header-colored -->

			<div class="header-white">
				<div class="container">
					<a href="{% pageurl site_root %}">
						{% block logo %}<img src="{% static 'images/logo.png' %}" alt="{% trans 'The UTN Logo' %}" class="header-white-logo">{% endblock %}
					</a>

					<div class="nav-primary-wrapper collapse navbar-toggleable-sm">
                    {% block navigation_left %}
						{% main_menu parent=site_root calling_page=self %}
                    {% endblock %}
					</div><!-- /.nav-primary-wrapper -->

					<ul class="nav nav-pills secondary">
                        {% block navigation_right %}
						<li class="nav-item"><form action="{% url 'set_language' %}" id="set_language_form" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.path }}" />
                            {% if LANGUAGE_CODE == 'sv' %}
                                <input type="hidden" name="language" value="en" />
                                <button class="btn" type="submit"><i class="fa fa-globe"></i> English</button>
                            {% else %}
                                <input type="hidden" name="language" value="sv" />
                                <button class="btn" type="submit"><i class="fa fa-globe"></i> Svenska</button>
                            {% endif %}
                        </form></li>
                        {% if not user.is_authenticated %}
                            <li class="nav-item">
                                <a href="{% url 'login' %}{% if '/logout/' not in request.path %}?next={{ request.path }}{% endif %}" class="nav-link circle">
                                    <i class="md-icon">person</i>
                                </a>
                            </li>
                        {% else %}
						<li class="nav-item user-avatar-wrapper">
							<a href="#" class="nav-link circle user-avatar-image"
                               {# TODO: Avatar?? style="background-image: url('assets/img/tmp/profile-1.jpg')"#}><i class="md-icon">person</i></a>
							<span class="user-avatar-status"></span>

							<ul class="header-more-menu">
								<li><a href="{# TODO: PROFILE SETTINGS #}">{% trans 'account'|capfirst %}</a></li>
								<li><a href="{% url 'password_change' %}">{% trans 'password'|capfirst %}</a></li>
								<li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>{% trans "Log out" %}</a></li>
							</ul>
						</li>
                        {% endif %}
                        {% endblock %}
					</ul>

					<button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target=".nav-primary-wrapper">
                        <i class="md-icon">menu</i>
                    </button>
				</div><!-- /.container -->
			</div><!-- /.header-white -->
		</div><!-- /.header-inner -->
	</div><!-- /.header -->
</div><!-- /.header-wrapper -->

    <div class="main-wrapper">
	    <div class="main">
	        <div class="main-inner">
	            <div class="content">
                    {% block page_title %}
                    <div class="content-title">
                        <div class="container">
                            <h1>{% firstof page.translated_title page.title %}</h1>
                            <ul class="breadcrumb">
                            {% for page in self.get_ancestors %}
                            {% if page.is_root == False %}
                                <li><a href="{% pageurl page %}">{% firstof page.translated_title page.title %}</a> <i class="md-icon">keyboard_arrow_right</i></li>
                            {% endif %}
                            {% endfor %}
                                <li class="active">{% firstof page.translated_title page.title%}</li>
                            </ul><!-- /.breadcrumb -->
                        </div><!-- /.container -->
                    </div><!-- /.content-title -->
                    {% endblock %}
                    {% block content %}{% endblock %}
	            </div><!-- /.content -->
	        </div><!-- /.main-inner -->
	    </div><!-- /.main -->
    </div><!-- /.main-wrapper -->

    <div class="footer-wrapper">
	<div class="footer">

		<div class="footer-top">
			<div class="container">
				<div class="footer-top-left">
					<strong class="hidden-xs-down">{% trans "Follow us on social media:" %}</strong>
                    {% if settings.website.SocialMediaSettings.facebook %}
                        <a href="{{ settings.website.SocialMediaSettings.facebook }}"><i class="fa fa-facebook-square"></i></a>
                    {% endif %}
                    {% if settings.website.SocialMediaSettings.twitter %}
                        <a href="https://twitter.com/{{ settings.website.SocialMediaSettings.twitter }}"><i class="fa fa-twitter-square"></i></a>
                    {% endif %}
                    {% if settings.website.SocialMediaSettings.instagram %}
                        <a href="https://www.instagram.com/{{ settings.website.SocialMediaSettings.instagram }}/"><i class="fa fa-instagram"></i></a>
                    {% endif %}
				</div><!-- /.footer-top-left -->

				<div class="footer-top-right">
					<a class="footer-top-action">
                        {# TODO: FIX ME #}
						<i class="md-icon">vertical_align_top</i>
					</a><!-- /.footer-top-action -->

					<ul class="nav nav-pills">
                        {% block footer_menu %}
                        {# TODO: ACTUAL BOTTOM MENU #}
                        {% endblock %}
					</ul>
				</div><!-- /.footer-top-right -->
			</div><!-- /.container -->
		</div><!-- /.footer-top -->

		<div class="footer-bottom">
			<div class="container">
				<div class="footer-bottom-left">
                    <a href="https://github.com/UTNkar/moore">
                        {% trans "Developed using" %}
                        <i class="fa fa-github" style="font-size: 20px; padding-left: 5px;" ></i>
                    </a>
				</div><!-- /.footer-bottom-left -->

				<div class="footer-bottom-right">
                    {# TODO: What about it? #}
{#					Copyright &copy; - All Rights Reserved#}
				</div><!-- /.footer-bottom-right -->
			</div><!-- /.container -->
		</div><!-- /.footer-bottom -->
	</div><!-- /.footer -->
</div><!-- /.footer-wrapper -->
</div><!-- /.page-wrapper -->
{% endblock %}

{% compress js %}
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tether.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/owl-carousel/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materialist.js' %}"></script>
{% endcompress %}

{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
</body>
</html>