.moore {
  .wagtail-icon-wagtail:before {
    content: "d"
  }

  .wagtail-userbar-trigger {
    box-shadow: 0 0 1px 0 $color-primary, 0 1px 10px 0 rgba($color-primary, 0.7);
  }

  .wagtail-userbar.touch.is-active .wagtail-userbar-trigger,
  .wagtail-userbar.no-touch .wagtail-userbar-trigger:hover {
    box-shadow: 0 0 1px 0 $color-primary, 0 3px 15px 0 rgba($color-primary, 0.95);
  }
}