@import "../base";

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 95%;
}
@media #{$medium-and-up} {
  .container {
    width: 90%;
  }
}
@media #{$large-and-up} {
  .container {
    width: 85%;
  }
}