@import "../base";

$navigation-height: 80px;
$line-height: 32px;
$navigation-padding: ($navigation-height - $line-height)/2;

$logo-height: 55px;
$logo-width: 214px;
$logo-margin: ($line-height - $logo-height)/2;

$logo-fallback-icon-size: 40px;
$shrink: 2px;
$logo-fallback-difference: $logo-height - $shrink - $logo-fallback-icon-size;
$logo-fallback-margin-left: 15px;
$logo-fallback-margin-top:  - ($logo-height + 10px);

.navigation {
  @extend .nav-wrapper;

  background-color: white;

  .main-menu{
    li a {
      color: rgba(66,66,66,.8);
      font-weight: 700;
      text-transform: uppercase;
    }

    .dropdown-content{
      //Displays the submenues to the side of the parent menu
      overflow: visible !important;
      width: auto !important;
      white-space: nowrap;
    }

    .submenu{
      left: 100% !important;
      border-left: 1px solid black;
    }
  }
}