@import "../base";

$navigation-height: 80px;
$line-height: 32px;
$navigation-padding: ($navigation-height - $line-height)/2;

$logo-height: 55px;
$logo-width: 214px;
$logo-margin-top: ($navigation-height - $logo-height)/2;
$logo-margin-left: 15px;

$logo-fallback-icon-size: 40px;
$shrink: 2px;
$logo-fallback-difference: $logo-height - $shrink - $logo-fallback-icon-size;
$logo-fallback-margin-left: 15px;
$logo-fallback-margin-top:  - ($logo-height + 10px);

.navigation {
  @extend .nav-wrapper;
  display: flex;
  align-items: center;
  height: $navigation-height;
  background-color: white;
  padding-left: 1.4em;

  @media #{$medium-and-up}{
    padding: 0 1.7em;
  }

  .collapsible-header {
    padding: 0 16px 0 32px !important;
    i{
      float: right !important;
      margin: 0 !important;
    }
  }

  .collapsible-body{
    padding-left: 1.4em;
  }

  .button-collapse{
    margin: 0;
    i {
      color: #2e2e2e;
    }
  }

  .avatar{
    height: $navigation-height;

    & > a {
      display: flex;
      height: $navigation-height;
      align-items: center;
    }

    img {
      @extend .circle;
      height: 55px;
      width: 55px;
    }

    .more-icon{
      color: black;
      font-size: 32px;
      line-height: 32px;
      display: flex;
      align-items: center;
    }
  }

  .dropdown-content{
    width: auto !important;
    white-space: nowrap;
  }

  .brand-logo {
    height: $logo-height;
    width: $logo-width;
  }

  .main-menu > li, .right > li{
    height: $navigation-height;
    line-height: $navigation-height;
  }

  .main-menu{
    flex-grow: 1;
    margin-left: $logo-width + 20px;
    a.active {
      background-color: rgba(0, 0, 0, 0.07);
    }

    li a {
      color: rgba(66,66,66,.8);
      font-weight: 700;
      text-transform: uppercase;
    }

    .dropdown-content{
      //Displays the submenues to the side of the parent menu
      overflow: visible !important;

      .no-right-padding{
        padding-right: 0;
      }

      .menu-text {
        display:flex;
        align-items: center;

        i {
          height: initial;
          line-height: initial;
        }

        p{
          display: inline;
          flex-grow: 1;
          margin: 0;
          margin-right: .5em;
        }
      }
    }

    .submenu{
      left: 100% !important;
    }
  }
}