@import "../base";

$navigation-height: 80px;
$line-height: 32px;
$navigation-padding: ($navigation-height - $line-height)/2;

$logo-height: 55px;
$logo-width: 214px;
$logo-margin: ($line-height - $logo-height)/2;

$logo-fallback-icon-size: 40px;
$shrink: 2px;
$logo-fallback-difference: $logo-height - $shrink - $logo-fallback-icon-size;
$logo-fallback-margin-left: 15px;
$logo-fallback-margin-top:  - ($logo-height + 10px);

.navigation {
  @extend .nav-wrapper;

  background-color: $background-color;
  height: $navigation-height;
  line-height: $line-height;
  padding: $navigation-padding $line-height;

  ul button.btn {
    margin-top: -2px; // To match a .btn
  }

  .dropdown-content {
    width: auto !important;
  }

  .avatar {
    height: $line-height;

    &.active, &:hover {
      background: none;
      a {
        color: $black-color;
        background: inherit;
      }
    }

    &:after {
      @extend .circle;
      font-family: 'Material Icons';
      font-size: $logo-fallback-icon-size;
      content: 'person';
      position: relative;
      display: block;
      padding: $logo-fallback-difference/2 $logo-fallback-difference/2;
      left: $logo-fallback-margin-left + 1px;
      top:  $logo-fallback-margin-top;
      z-index: 0;
      background-color: $secondary-color;
      width: $logo-height - 2px;
      height: $logo-height - 2px;
    }

    img {
      @extend .circle;
      position: relative;
      margin-top: $logo-margin;
      height: $logo-height;
      width: $logo-height;
      z-index: 100;
    }
    .more-icon {
      color: $black-color;
      float: right;
      font-size: 32px;
      line-height: 32px;
    }
    .dropdown-content {
      margin-top: 32px;
    }
  }

  .brand-logo {
    height: $logo-height;
    width: $logo-width;
    margin-top: $logo-margin;
  }

  .button-collapse i {
    color: $secondary-color;
    height: $line-height;
    line-height: $line-height;
  }

  .main-menu {
    margin-left: $logo-width + 20px;
    li {
      a {
        color: rgba($black-color, .8);
        font-weight: bold;
        text-transform: uppercase;
      }
      &.active, &:hover {
        background: none;
        a {
          color: $black-color;
          background: inherit;
        }
      }
    }
  }
}