{% load i18n wagtailroutablepage_tags %}

<h2 id="apply">{% trans 'apply now!'|title %}</h2>
{% if form.errors or reference_forms.errors %}
    <div class="alert alert-danger" role="alert">
        <ul>
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
        {% if reference_forms.errors %}
            <li>{% trans 'An error has been found in the refences.' %}</li>
        {% endif %}
        </ul>
    </div>
{% endif %}
{% if position.is_past_due %}
<div class="alert alert-info" role="alert">
    {% trans 'The deadline for this application has passed.' %} {% trans 'You can no longer change your application.' %}
</div>
{% endif %}
<form method="post" action="{% routablepageurl page 'position' position.id  %}#apply">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans 'member information'|title %}</legend>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="first-name">{% trans 'first name' %}</label>
                    <input id="first-name" class="form-control" type="text" placeholder="{{ request.user.first_name }}" readonly>
                </div><!-- /.form-group -->
            </div><!-- /.col-* -->

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="last-name">{% trans 'last name' %}</label>
                    <input id="last-name" class="form-control" type="text" placeholder="{{ request.user.last_name }}" readonly>
                </div><!-- /.form-group -->
            </div><!-- /.col-* -->

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="person-number">{% trans 'person number' %}</label>
                    <input id="person-number" class="form-control" type="text" placeholder="{{ request.user.person_number }}" readonly>
                </div><!-- /.form-group -->
            </div><!-- /.col-* -->

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="phone">{% trans 'phone number' %}</label>
                    <input id="phone" class="form-control" type="text" placeholder="{{ request.user.phone_number }}" readonly>
                </div><!-- /.form-group -->
            </div><!-- /.col-* -->

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="email">{% trans 'e-mail' %}</label>
                    <input id="email" class="form-control" type="text" placeholder="{{ request.user.email }}" readonly>
                </div><!-- /.form-group -->
            </div><!-- /.col-* -->

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="study">{% trans 'study program' %}</label>
                    <input id="study" class="form-control" type="text" placeholder="{{ request.user.study }}" readonly>
                </div><!-- /.form-group -->
            </div><!-- /.col-* -->
        </div>
        <div class="row">
            <i>{% trans 'These values can be changed in your profile' %}</i>
        </div>
    </fieldset>

    <fieldset>
        <legend>{{ form.cover_letter.label|title }}</legend>

        <div class="form-group">
            <label for="{{ form.cover_letter.auto_id }}">{{ form.cover_letter.help_text }}</label>
            {{ form.cover_letter }}
        </div><!-- /.form-group -->
    </fieldset>

    <fieldset>
        <legend>{{ form.qualifications.label|title }}</legend>

        <div class="form-group">
            <label for="{{ form.qualifications.auto_id }}">{{ form.qualifications.help_text }}</label>
            {{ form.qualifications }}
        </div><!-- /.form-group -->
    </fieldset>

    {{ reference_forms.management_form }}
    <fieldset>
        <legend>{% trans 'references'|title %}</legend>

        <div id="formset-container" class="row">
            {% for form in reference_forms %}
                {% include 'involvement/reference_form.html' with number=forloop.counter0 %}
            {% endfor %}
        </div>
        <div class="col-sm-12">
            <a href="#" id="add"><b><i class="fa fa-plus"></i> {% trans 'Add a reference' %}</b></a>
        </div>
    </fieldset>

    {% if not position.is_past_due %}
    <div class="text-right">
        {% if status == 'draft' %}
        <button name="{{ form.status.name }}" type="submit" class="btn btn-large" value="draft">{% trans 'save as draft' %}</button>
        {% endif %}
        <button name="{{ form.status.name }}" type="submit" class="btn btn-large btn-primary" value="submitted">{% if status == 'draft' %}{% trans 'apply' %}{% else %}{% trans 'update' %}{% endif %}</button>
    </div><!-- /.center -->
    {% endif %}
</form>


<script type="text/html" id="formset-template">
{% include 'involvement/reference_form.html' with form=reference_forms.empty_form number='__prefix__' %}
</script>
	