{% extends "base.html" %}
{% load i18n wagtailroutablepage_tags %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="header-colored">
        <div class="container">
            {# TODO: Show when screen becomes small #}
            <div class="header-colored-label">
                Go to
            </div><!-- /.header-bottom-label -->

            {# TODO: Mark when on the page?? #}
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{% routablepageurl page 'open_positions' %}" class="nav-link">{% trans 'Open Positions' %}</a></li>
                <li class="nav-item"><a href="{% routablepageurl page 'my_applications' %}" class="nav-link">{% trans 'My Applications' %}</a></li>
            </ul><!-- /.nav -->
        </div><!-- /.container -->
    </div><!-- /.header-bottom -->
    {% endif %}
    {% block involvement_content %}{% endblock %}
{% endblock %}