{% extends "involvement/base.html" %}
{% load i18n static wagtailroutablepage_tags wagtailimages_tags involvement_filters %}

{% block extra_css %}
<style>
{% for team in teams %}
{% if team.logo %}{% image team.logo fill-40x40 as logo %}{% endif %}
.team-{{ team.id }}.faq-item:before {
    content: '';
    background: #FFFFFF {% if team.logo %}url("{{ logo.url }}");{% else %}url("{% static 'images/bocken.png' %}");{% endif %}
    background-size: 40px 40px;
}
{% endfor %}
.no-team.faq-item:before {
    content: '';
    background: #FFFFFF url("{% static 'images/bocken.png' %}");
    background-size: 40px 40px;
}
</style>
{% endblock %}

{% block involvement_content %}
<div class="container push-top-bottom">
    <div class="row">
    <div class="faq col-md-8 col-lg-9">
        <h1>{% trans 'open positions'|title %}</h1>
        {% for pos in positions|dictsort:'deadline' %}
            <div class="{% if pos.function.team %}team-{{ pos.function.team.id }}{% else %}no-team{% endif %} faq-item">
                <div class="faq-item-question">
                    <h2>{{ pos }}{% if pos.function.team %} &mdash; {{ pos.function.team }}{% endif %}</h2>
                    <p style="margin-top: -15px; color: {{ pos.deadline|date_color }};"><b>Deadline: {{ pos.deadline }}</b></p>
                </div><!-- /.faq-item-question -->

                <div class="faq-item-answer">
                    {% if pos.function.description %}<p>{{ pos.function.description|truncatechars:300 }}</p>{% endif %}
                    {% if pos.comment %}<p>{{ pos.comment|truncatechars:300 }}</p>{% endif %}
                </div><!-- /.faq-item-answer -->

                <div class="faq-item-meta">
                    <div style="text-align: left; float: left">
                        <b>{% trans 'Term of office' %}:</b>
                        <span class="rate">
                            {{ pos.term_from }}<span class="separator">-</span>{{ pos.term_to }}
                        </span><!-- /.rate -->
                    </div>
                    <div>
                        <a class="btn" href="{% routablepageurl page 'position' pos.id  %}">{% trans 'apply' %}</a>
                    </div>
                </div><!-- /.faq-item-meta -->
            </div><!-- /.faq-item -->
        {% empty %}
            <div class="alert alert-info" role="alert">
                {% trans 'There are currently no open positions. Check back later!' %}
            </div>
        {% endfor %}
    </div><!-- /.faq -->

    <div class="col-md-4 col-lg-3">
			<div class="sidebar">
				<div class="widget">
                <h2 class="widgettitle">{% trans 'overview'|capfirst %}</h2>

                <div class="reviews">
                {% for pos in positions|dictsort:'deadline' %}
                    {% if pos.function.team.logo %}{% image pos.function.team.logo fill-20x20 as logo %}{% endif %}
                    <div class="review" style="margin: 0 0 5px 0; padding: 0 0 5px 0;">
                        <a href="{% routablepageurl page 'position' pos.id  %}" class="review-user" style="background-image: {% if pos.function.team.logo %}url('{{ logo.url }}');{% else %}url('{% static 'images/bocken.png' %}');{% endif %}width: 20px; height: 20px;margin: 10px 10px 0 0;"></a>

                        <div class="review-content">
                            <h3><a href="{% routablepageurl page 'position' pos.id  %}">{{ pos|truncatechars:25 }}</a></h3>
                            {% if pos.function.team %}<div><i class="md-icon" style="height: 14px; font-size: 20px;">group</i>{{ pos.function.team|truncatechars:20 }}</div>{% else %}<div><i class="md-icon" style="height: 14px; font-size: 20px;">person</i>{% trans 'unaffiliated'|capfirst %}</div>{% endif %}<!-- /.review-rating -->
                        </div><!-- /.review-content -->
                    </div><!-- /.review -->
                {% empty %}
                    {% trans 'There are currently no open positions. Check back later!' %}
                {% endfor %}
                </div><!-- /.reviews -->

                </div><!-- /.widget -->
			</div><!-- /.sidebar -->
		</div>
    </div>


</div><!-- /.container -->
{% endblock %}