{% load i18n materialize %}
<div id="reference-{{ number }}" class="card col l6 m12 deletable">
    <div class="card-content">
        <div class="row">
            <div class="col s6">
                {% materialize_field form.name 'face' %}
            </div>
            <div class="col s6">
                {% materialize_field form.position 'supervisor_account' %}
            </div>

            <div class="col s6">
                {% materialize_field form.phone_number 'phone' %}
            </div>
            <div class="col s6">
                {% materialize_field form.email 'email' %}
            </div>

            <div class="col s12">
                {% materialize_field form.comment 'comment' %}
            </div>

            <div class="fab-button delete-button col s12">
                <div style="display: none;">
                {{ form.DELETE }}</div>
                <a class="btn-floating btn-large red right delete" href="#"><i class="material-icons">delete</i></a>
            </div>

            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
        </div>
    </div>
</div>
