@import "base";

.block-image_description {
  position: relative;
  .description {
    padding: 80px 0;
  }
  .row .col.image-holder {
    background-size: cover;
    background: no-repeat center;
    bottom: 0;
    position: absolute;
    top: 0;
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }
}