@import "base";
$navigation-height: 80px;
$line-height: 32px;
$navigation-padding: ($navigation-height - $line-height)/2;

$logo-height: $line-height;
$logo-width: 125px;


.navigation {
  @extend .nav-wrapper;

  background-color: $background-color;
  height: $navigation-height;
  line-height: $line-height;
  padding: $navigation-padding 0;

  .avatar {
    height: $line-height;

    &.active, &:hover {
      background: none;
      a {
        color: $black-color;
        background: inherit;
      }
    }

    img {
      margin-top: - ($navigation-padding - (($navigation-height - ($line-height*2))/2));
      height: $line-height*2;
      width: $line-height*2;
    }
    .more-icon {
      color: $black-color;
      float: right;
      font-size: 32px;
      line-height: 32px;
    }
    .dropdown-content {
      margin-top: 32px;
      width: 200px !important;
    }
  }

  .brand-logo {
    height: $logo-height;
    width: $logo-width;
  }

  .button-collapse i {
    color: $secondary-color;
    height: $line-height;
    line-height: $line-height;
  }

  .main-menu {
    margin-left: $logo-width + 50px;
    li {
      a {
        color: rgba($black-color, .8);
        font-weight: bold;
        text-transform: uppercase;
      }
      &.active, &:hover {
        background: none;
        a {
          color: $black-color;
          background: inherit;
        }
      }
    }
  }
}