iframe.party{
	z-index: 1000000 !important;
	border-width: 0;
	position: fixed;
	top: 200px;
	left: 200px;
	height: 500px;
	width: 500px;
	-webkit-transition-property: left, top, -webkit-transform;
	-webkit-transition-duration: 5s, 5s, 0.5s;
	-moz-transition-property: left, top, -moz-transform;
	-moz-transition-duration: 5s, 5s, 0.5s;
}