@import "base";
.structure-header {
  @extend nav;
  @extend .hide-on-med-and-down;

  height: 40px;
  line-height: 30px;
  padding: 5px 0;
  box-shadow: none;
  text-align: center;

  .switch {
    display: inline-block;
    vertical-align: top;
    &>a{
      height: 30px;
      line-height: 30px;
    }
  }
  .sections {
    display: none;
  }
  .logo {
    display: block;
    margin: 0 3px;
  }
  .left-side {
    width: 42%;
    height: 30px;
    display: inline-block;
    .logo {
      float: right;
    }
  }
  .right-side {
    width: 42%;
    height: 30px;
    display: inline-block;
    .logo {
      float: left;
    }
  }
}