@import "../base";

.block-heading {
  margin-bottom: 60px;
  text-align: center;
  h2 {
    color: $black-color;
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }
  p {
    color: color('grey', 'base');
    font-size: 16px;
  }
}