{% load static i18n wagtailcore_tags site_tags wagtailadmin_tags %}
{% get_site_root as site_root %}
<nav>
    <a class="logo" href="{% pageurl site_root %}">
        {% block logo %}<img src="{% static 'images/logo.svg' %}" alt="{% trans 'The UTN Logo' %}">{% endblock %}
    </a>
    <!--Mobile menu-->
    <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    {% include 'partials/mobile_navigation_bar.html' %}
    <!--Navigation bar-->

    <div class="main-menu hide-on-med-and-down">
        <a href="{% pageurl site_root %}">{% trans 'Home' %}</a>
        {% menu_items parent=site_root top_level=True %}
    </div>

    <div class="right-side hide-on-med-and-down">
        {% include "partials/switch_language_button.html" %}
        {% if not user.is_authenticated %}
            <a class="btn login-button" href="{% url 'login' %}{% if '/logout/' not in request.path %}?next={{ request.path }}{% endif %}">
                <i class="material-icons">account_circle</i>{% trans 'Log in' %}
            </a>
        {% else %}
            <div class="avatar">
                <a href="{% url 'profile' %}" class="dropdown-button" data-activates="user-menu" data-alignment="right" data-belowOrigin="true">
                    <img src="{% avatar_url user.email %}" alt="{% trans 'your avatar' %}">
                    <i class="material-icons more-icon">more_vert</i>
                </a>
                <ul id="user-menu" class="dropdown-content">
                    <li><a href="{% url 'profile' %}"><i class="material-icons">face</i>{% trans 'account' %}</a></li>
                    <li><a href="{% url 'password_change' %}"><i class="material-icons">lock</i>{% trans 'password' %}</a></li>
                    <li><a href="{% url 'logout' %}"><i class="material-icons">cancel</i>{% trans 'Log out' %}</a></li>
                </ul>
            </div>
        {% endif %}
    </ul>
</nav>
