{% load i18n static wagtailcore_tags wagtailimages_tags %}
<div class="col m{{ width }} s12">
    <div class="card horizontal">
        <div class="card-image">
            {% if card.picture %}
                {% image card.picture fill-200x300 %}
            {% else %}
                <img src="{% static 'images/bocken.svg' %}" alt="{% trans 'UTN logo' %}" style="height: 200px; width: 200px;">
            {% endif %}
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <span class="card-title">{% firstof card.name role.name %}</span>
                {% if card.role_text or role.role_text %}<b>{% firstof card.role_text role.role_text %}</b>{% endif %}
                {{ card.description|richtext }}
            </div>
            {% if card.email or role.email %}
                <div class="card-action">
                    <a href="mailto:{% firstof card.email role.email %}">{% trans 'send email'|title %}</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>