{% extends 'base.html' %}
{% load i18n static membertags materialize %}

{% block title %}{% trans 'Account Settings' %}{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'libraries/dirrty/jquery.dirrty.js' %}"></script>
    <script type="text/javascript">
    function limit_studies(){
        var val = $('#{{ form.section.auto_id }}').val();
        $('#{{ form.study.auto_id }}').html('');
        switch (val) {
            {% for s in sections %}
                case '{{ s.pk }}':
                {% for study in s.studies.all %}
                    $('#{{ form.study.auto_id }}').append('<option value="{{ study.pk }}">{{ study }}</option>');
                {% empty %}
                    $('#{{ form.study.auto_id }}').append('<option value="">---------</option>');
                {% endfor %}
                break;
            {% endfor %}
            default:
                $('#{{ form.study.auto_id }}').append('<option value="">---------</option>');
            {% for study in studies %}
                $('#{{ form.study.auto_id }}').append('<option value="{{ study.pk }}">{{ study }}</option>');
            {% endfor %}
            break;
        }
        $('#{{ form.study.auto_id }} option[value="{{ form.study.value }}"]').attr("selected", "selected");
        $('select').material_select();
    }

    $('#{{ form.section.auto_id }}').change(limit_studies);
    $(document).ready(function(){
        limit_studies();

        $('#account-settings').dirrty().on('dirty', function(){
            $('#submit').removeClass('disabled');
        }).on('clean', function(){
            $('#submit').addClass('disabled');
        });
    });
    </script>
{% endblock %}

{% block content %}
<div class="container">
<div class="card">
<div class="card-content">
    {% for error in form.non_field_errors %}
        <div class="message error">{{ error }}</div>
    {% endfor %}
    <form method="post" action="{% url 'profile' %}" id="account-settings">
        {% csrf_token %}

        <fieldset>
            <legend>{% trans 'contact information'|title %}</legend>
            <div class="row">
                <div class="col s4">
                    {% materialize_field form.first_name 'face' %}
                </div>

                <div class="col s4">
                    {% materialize_field form.last_name %}
                </div>

                <div class="col s4">
                    {% materialize_field form.person_number 'fiber_pin' %}
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    {% materialize_field form.phone_number 'phone' %}
                </div>

                <div class="col s6">
                    {% materialize_field form.email 'email' %}
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>{% trans 'membership status'|title %}</legend>
            <h6>{% trans 'current status'|capfirst %}: {% status_badge form.instance %}</h6>
            <p></p>
            {% if can_update_status %}
            <p><button class="btn btn-primary"><i class="material-icons">refresh</i>{% trans 'recheck status'|capfirst %}</button></p>
            {% endif %}
        </fieldset>

        <fieldset>
            <legend>{% trans 'study information'|title %}</legend>
                {% materialize_field form.section 'account_balance' %}
            <div class="row">
                <div class="col s8">
                    {% materialize_field form.study 'school' %}
                </div>

                <div class="col s4">
                    {% materialize_field form.registration_year %}
                </div>
            </div>
        </fieldset>

        <div class="center">
            <button id="submit" class="btn btn-inverse disabled"><i class="material-icons">save</i>{% trans 'save' %}</button>
        </div>
    </form>
</div>
</div>
</div>
{% endblock %}