{% extends "empty.html" %}
{% load i18n %}

{% block title %}{% trans 'Register' %}{% endblock %}

{% block heading %}{% trans 'Create a UTN account' %}{% endblock %}

{% block form %}
{% for error in form.errors.items %}
    {% for message in error.1 %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<form method="post">
    {% csrf_token %}

    <div class="form-group">
        {{ form.person_number.label_tag }}
        {{ form.person_number }}
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                {{ form.study.label_tag }}
                {{ form.study }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                {{ form.registration_year.label_tag }}
                {{ form.registration_year }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form.username.label_tag }}
        {{ form.username }}
    </div>

    <div class="form-group">
        {{ form.email.label_tag }}
        {{ form.email }}
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>
        </div>
    </div>

    <div class="form-group-btn">
        <button type="submit" class="btn btn-primary pull-right">{% trans 'register' %}</button>
    </div>
</form>
{#    {{ form }}#}
{% endblock %}