@import "../base";

$banner-height: 700px;
$controls-size: 150px;

.carousel.banners {
  height: $banner-height;
  margin: 0 0 60px 0;
  .carousel-fixed-item {
    &.controls {
      @extend .hide-on-med-and-down;
      pointer-events: none;
      color: #fff;
      top: calc(50% - #{$controls-size/2});
      .carousel-previous, .carousel-next {
        pointer-events: auto;
        position: absolute;
        font-size: $controls-size;
      }
      .carousel-previous {
        left: 0;
      }
      .carousel-next {
        right: 0;
      }
    }
    &.search {
      background-color: rgba(0, 0, 0, 0.25);
      width: 100%;
      padding: 34px 0;
      bottom: 0;
      .row .col {
        padding: 0;
      }
      .input-field {
        display: table;
        .prefix {
          border-bottom-left-radius: $button-radius;
          border-top-left-radius: $button-radius;
          background-color: #fff;
          font-size: 25px;
          line-height: 50px;
        }
        input {
          display: table-cell;
          height: 50px;
          font-size: 16px;
          color: $secondary-color;
          background-color: #fff;
          border: 0;
          border-radius: 0;
          &:focus {
            border-bottom: none;
            box-shadow: none;
          }
        }
        .btn {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          float: left;
          height: 50px;
        }
      }
    }
  }

  .carousel-item {
    .banner-image {
      height: $banner-height;
      background: no-repeat center center;
      background-size: cover;
    }
    .banner-title {
      margin-top: -500px;
      color: #fff;
      font-size: 50px;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    .banner-description {
      color: rgba(255, 255, 255, 0.9);
      font-size: 22px;
      font-weight: 400;
      margin: 15px 150px;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    .banner-link {
      @extend .btn;
      @extend .btn-large;
      @extend .btn-primary;
      margin: 30px 0 0 0;
    }
  }
}
