@import "../base";

.block-counters {
  .main-container {
    @include flexbox();
    @include align-items(center);
    @include flex-direction(column);
    text-align: center;
    padding: 1em;

    @media #{$large-and-up} {
      padding: 2em;
      @include flex-direction(row);
    }
  }
  .items {
    @include flexbox();
    @include align-items(center);
    @include flex-grow(1);
    @include flex-direction(column);
    @include justify-content(center);

    @media #{$medium-and-up} {
      @include flex-direction(row);
    }

    @media #{$medium-only} {
      @include flex-wrap(wrap);
    }

    @media #{$large-and-up} {
      @include justify-content(start);
    }
  }
  .item {
    padding: 1em;

    @media #{$large-and-up} {
      padding: 0 1em;
    }
  }
  h2 {
    font-weight: 400;
    line-height: 1.5;
    white-space: nowrap;
    font-size: 2.2em;
    margin-bottom: 0 0 0.6rem 0;

    @media #{$large-and-up} {
      font-size: 1.8em;
      margin: 0 1em 0 0;
    }
  }
  .material-icons {
    font-size: 2.7em;
    height: auto;
    margin: 0 0 .55rem 0;
    text-align: center;
    width: 100%;
  }
  h3 {
    margin: 0;
  }
  p {
    font-size: 0.8em;
    margin: 0;
    text-align: center;
  }

  .dark {
    background-color: $black-color;
    color: $background-color;
    p {
      color: rgba($background-color, 0.8);
    }
  }
  .light {
    color: $black-color;
    background-color: $accented-color;
    p {
      color: color('grey', 'darken-3');
    }
    .material-icons {
      color: $primary-color;
    }
  }
}