@import "../base";

.block-countdown {
  text-align: center;
  color: $black-color;
  .container {
    .countdown {
      margin-top: 1em;
      margin-bottom: 1em;
      span {
        color: $white-color;
        background-color: #474747;
        font-weight: 400;
        padding: 0.2em;
        border-radius: 2px;
      }
    }
    .countdown-small {
      font-size: 24px;
    }
    .countdown-medium {
      font-size: 48px;
    }
    .countdown-large {
      font-size: 72px;
    }
    h3 {
      color: color('grey', 'base');
    }
  }
}
