@import "../base";

.custom-footer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.7);
  margin: 15px 0;

  .col {
    position: relative;

    &.right-border:after {
      background-color: rgba(255, 255, 255, 0.05);
      bottom: 0;
      content: '';
      display: block;
      position: absolute;
      right: 15px;
      top: 0;
      width: 1px;
    }
  }
}