.block-flex_columns {
  .flex-columns {
      display: flex;
      
    @media #{$medium-and-down} {
	flex-direction: column;
    }
    .column{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    }
  }
  .padding {
      padding: 2em 4em;
      flex: 1;
      display: flex;
      overflow-y: auto;
      @media #{$medium-and-down} {
	  padding: 2em 0em;
	  overflow-y: unset;
      }
  }
  .reverse-order {
      @media #{$medium-and-down} {
	  flex-direction: column-reverse;
      }
  }	
}
