.block-flex_columns {
  .flex-columns {
      display: flex;
      
    @media #{$medium-and-down} {
	flex-direction: column;
    }
    .column{
	flex: 1;
	display: flex;
    }
    .padding {
	padding: 2em 4em;
    }
    .column-content {
	flex: 1;
    }
  }
  .reverse-order {
      @media #{$medium-and-down} {
	  flex-direction: column-reverse;
      }
  }	
}
