@import "../base";

.block-image {
  text-align: center;
  .image {
    max-width: 100%;
  }
}

.block-image_description, .block-image_icons {
  position: relative;
  .description, .icons {
    padding: 80px 0;
  }

  .image-holder {
    text-align: center;
    img {
      max-width: 100%;
      object-fit: contain;
    }
  }

  .icons {
    h2, h3 {
      color: $black-color;
      font-weight: 400;
      margin: 0 0 20px 0;
    }
    h2 {
      font-size: 30px;
      line-height: 1.5;
      text-align: center;
    }
    h3 {
      font-size: 18px;
    }
    .icon {
      margin: 50px 0 0 0;
      .material-icons {
        color: #9E9E9E;
        font-size: 28px;
        height: 28px;
        margin: 0 15px 0 0;
        vertical-align: -8px;
        width: 28px;
      }
    }
  }
}
