@import "../base";

.block-image {
  .image {
    background: no-repeat center center;
    background-size: cover;
  }
}

.block-image_description, .block-image_icons {
  position: relative;
  .description, .icons {
    padding: 80px 0;
  }
  .row .col.image-holder {
    background-size: cover;
    background: no-repeat center;
    bottom: 0;
    position: absolute;
    top: 0;
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }

  .icons {
    h2, h3 {
      color: $black-color;
      font-weight: 400;
      margin: 0 0 20px 0;
    }
    h2 {
      font-size: 30px;
      line-height: 1.5;
      text-align: center;
    }
    h3 {
      font-size: 18px;
    }
    .icon {
      margin: 50px 0 0 0;
      .material-icons {
        color: #9E9E9E;
        font-size: 28px;
        height: 28px;
        margin: 0 15px 0 0;
        vertical-align: -8px;
        width: 28px;
      }
    }
  }

}