.block-logos {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 60px 0;
  white-space: nowrap;

  .logo{
    text-align: center;
    vertical-align: middle;
    img {
      box-sizing: content-box;
      display: inline-block;
      max-width: 80% !important;
      opacity: .4;
      transition: all .15s linear;
      vertical-align: middle;
      -webkit-filter: grayscale(1);

      &:hover {
        -webkit-filter: none;
        opacity: .8;
      }
    }
  }
}