@import "../base";

.overlay {
    width: 100%;
    background: #fff no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    text-align: center;
    
    h2 {
	font-size: 36px;
	font-weight: 400;
	margin: 0 0 30px 0;
	text-shadow: 0 1px 2px rgba(0,0,0,0.3)
    }
    
    p {
	font-size: 18px;
	margin: 0 0 50px 0;
	padding: 0 100px;
	text-shadow: 0 1px 2px rgba(0,0,0,0.3)
    }
}
