@import "../base";

.rich-text .richtext-image {
  &.full-width {
    width: 100%;
    height: auto;
  }
  &.left, &.right {
    width: 40%;
    height: auto;
    padding: 15px;
  }
  &.center {
    display: block;
    margin: 0 auto;
  }
}