@import "../base";

.rich-text .richtext-image {
  object-fit: contain;
  max-width: 400px;
  &.full-width {
    max-width: none;
    width: 100%;
    height: auto;
  }
  &.left, &.right {
    height: auto;
    padding: 15px;
  }
  &.center {
    display: block;
    margin: 0 auto;
  }
}