$primary-color: #00459a;
$secondary-color: #2E2E2E;

$background-color: color("shades", "white");

$white-color: #ffffff;
$black-color: #424242;
$accented-color: rgba(0,0,0, 0.02);

$footer-bg-color: $black-color;

$card-link-color: $primary-color;
$breadcrumb-active-color: $primary-color;