label {
	cursor: pointer;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;

	a {
		color: #fff;

		&:hover {
			color: #fff;
		}
	}
}

select {
	background-position: right 10px top 50%;  
    background-repeat: no-repeat;
	background-image: url('../images/caret.svg') !important;

	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
}

textarea.form-control, textarea {
	height: 70px;
	line-height: 1.5;
}

.checkbox-list {
	@extend .clearfix;
	
	.checkbox { 
		float: left;
		margin-top: 0;
		width: 33.33333%;			

		@include media-breakpoint-down(md) {
			width: 50%;
		}

		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}
}


.checkbox, .radio {
	label {
		font-size: 14px !important;
		text-transform: inherit !important;
	}
}

.checkbox-wrapper {
	display: inline-block;	
	height: 26px;	
	vertical-align: middle;
	position: relative;
	width: 26px;

	input {
		cursor: pointer;
		height: 26px;
		margin: 0 !important;
		opacity: 0;
		position: relative;		
		width: 26px;
		z-index: 2;
	}

	&:after {
		@extend .md-icon;
		color: lighten($color-gray, 20%);
		content: 'check_box_outline_blank';		
		font-size: 24px;
		height: 30px;
		left: 0;
		position: absolute;
		top: 0;
		width: 30px;
	}

	&.checked:after  {
		color: $color-primary;
		content: 'check_box';
	}	

	.checkbox & {
		margin-left: -22px;
	}
}

.radio-wrapper {
	display: inline-block;
	height: 26px;	
	vertical-align: middle;
	position: relative;
	width: 26px;

	input {
		cursor: pointer;
		height: 26px;
		margin: 0 !important;
		opacity: 0;
		position: relative;			
		width: 26px;
		z-index: 2;
	}

	&:after {
		@extend .md-icon;
		color: lighten($color-gray, 20%);
		content: 'radio_button_unchecked';		
		font-size: 24px;
		height: 30px;
		left: 0;
		position: absolute;
		top: 0;
		width: 30px;
	}

	&.checked:after  {
		color: $color-primary;
		content: 'radio_button_checked'; 
	}	

	.checkbox &, .radio & {
		margin-left: -22px;
	}
}

.form-control {
	-webkit-font-smoothing: antialiased;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	box-shadow: 0px 1px 0px 0px rgba(#000, 0.12);
	font-size: 16px;
	height: 48px;
	line-height: 48px;
	padding-left: 0;
	padding-right: 0;
	transition: all .15s ease;

	&:active, &:focus {
		box-shadow: 0 2px 0 0 $color-primary;
		outline: none;
	}
}

fieldset {
	background-color: rgba(#000, .03);
	border-radius: 3px;
	margin: 0 0 25px 0;
	padding: 25px;

	legend {
		color: $color-black;
		font-size: 20px;
	}	
}

.login-form, .registration-form, .reset-form {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;

	label {
		color: rgba(#fff, .6);
		font-size: 12px;
		margin: 0 0 15px 0;
		text-transform: uppercase;
	}

	h2 {
		color: #fff;
		font-size: 30px;
		font-weight: 400;
		margin: 0 0 50px 0;
		text-align: center;
	}

	p {
		color: #fff;
		font-size: 17px;
	}

	.form-group {
		margin: 0 0 30px 0;
	}

	.form-control {
		background-color: #fff;
		border-radius: 3px;
		padding: 13px 16px;
	}

	.form-group-btn {
		@extend .clearfix;

		.btn {
			padding: 10px 25px;
		}
	}

	.form-group-bottom-link {
		@extend .clearfix;

		border-top: 1px solid rgba(#fff, .15);
		clear: both;
		margin: 20px 0 0 0;
		padding: 5px 0 0 0;

		a {
			color: #fff;
			line-height: 40px;

			&:hover {
				text-decoration: none;
			}
		}

		.fa {
			margin: 0 10px;
		}
	}
}