.header {
	box-shadow: 0 0 20px rgba(#000, .4);
	position: relative;
	z-index: 10;
}

.header-white {
	background-color: #fff;
	color: #fff;
	padding: 24px 0;

	.nav {
		float: left;
		margin: -3px 0 0 50px;

		&.secondary {
			float: right;

			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
	}

	.nav-item {
		position: relative;
	}
	
	.nav-link {
		border-radius: 0;
		color: rgba($color-black, .8);
		font-weight: 700;
		padding-left: 20px;
		padding-right: 20px;
		position: relative;			
		text-transform: uppercase;
		z-index: 2;

		&.active {
			background-color: transparent !important;
			color: $color-black !important;

			&:hover {
				background-color: transparent !important;
				color: $color-black !important;
			}
		}

		&:hover {
			color: $color-black;
		}

		&.circle {			
			background-color: $color-secondary;
			background-position: center center;
			background-size: cover;
			border-radius: 50%;
			color: #fff;
			height: 32px;
			line-height: 44px;
			margin: 0 10px;
			overflow: hidden;
			padding: 0;
			position: relative;
			text-align: center;
			transition: all .15s ease; 
			width: 32px;

			&:hover {
				background-color: lighten($color-secondary, 10%);			
			}

			i {
				font-size: 18px;
			}
		}
	}
}

.header-white-logo {
	float: left;
	max-height: 32px;
}

.header-colored {
	background-color: $color-primary;
	color: #fff;
	padding: 18px 0;

	@include media-breakpoint-down(md) {
		display: none;
	}
	
	.nav {
		float: left;
	}

	.nav-link {
		color: rgba(#fff, .8);
		font-weight: 500;
		padding-left: 24px;
		padding-right: 24px;

		&:hover {
			color: #fff;
		}
	}
}

.header-colored-label {
	background-color: #fff;
	color: $color-secondary; 
	float: left;
	font-size: 12px;
	font-weight: 700;
	margin: 2px 20px 0 0;
	padding: 7px 15px;
}

.header-colored-more {
	float: left;
	margin: 6px 0 0 20px;
	position: relative;
	z-index: 10; 
	
	&:hover {
		.header-more-menu {
			opacity: 1;
			top: 28px;
			visibility: visible;
		}
	}

	i {
		cursor: pointer;
		font-size: 24px;
	}
}

ul.header-more-menu {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(#000, .2);
	color: $color-secondary;
	font-size: 12px;
	left: -43px;
	list-style: none;
	margin: 0;
	opacity: 0;
	padding: 10px 15px;
	position: absolute;
	top: 33px;
	transition: all .3s ease;
	transform: translate3d(0, 0, 1px);
	visibility: hidden;
	width: 110px;

	a {
		color: $color-secondary;
		display: block;
		padding: 3px 0;
		transition: all .15s linear;
		white-space: nowrap;
		&:hover {
			color: $color-primary;
			padding-left: 2px;
		}
	}

	&:before {
		border: 5px solid transparent;;
		border-bottom-color: #fff;
		content: '';
		display: block;
		height: 0;
		left: 50%;
		position: absolute;
		top: -10px; 
		transform: translateX(-50%);
		width: 0;
	}
}

@include media-breakpoint-up(md) {
	.has-submenu:hover {
		> .nav-link {
			color: $color-black;
			z-index: 101;
		}

		.submenu {
			opacity: 1;
			visibility: visible;
		}
	}

	.submenu {
		background-color: #fff;
		border-radius: 0px;
		box-shadow: 0 2px 10px 0 rgba(#000, .16);
		list-style: none;
		margin: 0;
		opacity: 0;
		padding: 44px 0 0 0;
		position: absolute;
		top: -7px;
		transition: all .15s linear;
		visibility: hidden;
		width: 200px;
		z-index: 100;

		li {

		}

		a {
			color: $color-black;
			display: block;
			font-size: 13px;
			padding: 12px 20px;
			position: relative;

			&:hover {
				&:before {
					width: 200px;
				}
			}

			&:before {
				background-color: #fafafa;
				bottom: 0;
				content: '';
				display: block;
				left: 0;
				position: absolute;
				right: auto;
				top: 0;
				transition: all .2s linear;
				width: 0;
				z-index: -1;
			}
		}
	}
}

.navbar-toggler {
	color: $color-secondary;
	margin: 4px 0 0 0;
	padding: 0;

	&:active, &:focus {
		box-shadow: none;
		outline: none;
	}

	.md-icon {
		font-size: 24px;
		height: 24px;
		width: 24px;
	}
}

@include media-breakpoint-down(sm) {
	.nav-primary-wrapper {		
		left: 0; 
		position: absolute;
		right: 0;
		top: 80px;

		.nav {
			background-color: #fff;
			border-top: 1px solid $color-gray-light;
			margin: 0;
			padding: 30px 0 30px 0;
			width: 100%;
		}

		.nav-item {
			float: none;
			margin: 0;
			padding: 0;

			&:hover {
				> .submenu {
					display: block;
				}
			}
		}

		.nav-link {
			&:hover {
				color: $color-black;
			}
		}

		.submenu {
			display: none;
			margin: 0 0 0 36px;
			padding: 0;
			position: relative;

			a {
				color: $color-gray;
				display: block;
				padding: 6px 0;

				&:hover {
					color: $color-black;
				}
			}
		}
	}
}