.invoice-wrapper {
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(#000, .1);
	border-radius: 3px;
	padding: 30px;
} 

.invoice-logo {
	font-size: 1.8em;

	.fa {
		color: $color-primary;
		margin: 0 20px 0 0;
	}
}

.invoice-description {
	margin-top: 30px;
}

.invoice-info {
	background-color: rgba(#000, .02);
	font-size: .95em;
	margin: 30px 0;
	line-height: 2;
	padding: 20px;

	h4 {
		font-size: 1.6em;
		margin: 0 0 20px 0;
	}
}

.invoice-summary {
	dl {
		background-color: rgba(#000, .02);
		margin: 0;
		padding: 20px;
	}
}