#map-leaflet {
	height: 600px;

	.map-pull-top & {
		margin-top: -180px;
	}
}  

.leaflet-div-icon {
	background-color: #fff;
	border: 4px solid $color-secondary;
	box-shadow: inset 0 0 8px rgba(#000, .15);
	border-radius: 50%;
	position: relative;
	z-index: 10;

	&:after {
		border: 4px solid transparent;
		border-width: 7px 12px;
		border-top-color: $color-secondary;
		bottom: -14px;
		height: 0;
		content: ''; 
		display: block;
		left: 50%;
		position: absolute; 
		transform: translateX(-50%);
		width: 0;
		z-index: 9;
	}

	.fa {
		color: rgba(#000, .55);
		font-size: 14px;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}