.show-darth{
	-webkit-animation:showToastyGuy 6s;
	   -moz-animation:showToastyGuy 6s;
	     -o-animation:showToastyGuy 6s;
	        animation:showToastyGuy 6s;
}

@-webkit-keyframes showToastyGuy
{
	0% {right: -200px;}
	40% {right: 0;}
	60% {right: 0;}
	100% {right: -200px;}
}

@-moz-keyframes showToastyGuy
{
	0% {right: -200px;}
	40% {right: 0;}
	60% {right: 0;}
	100% {right: -200px;}
}

@-o-keyframes showToastyGuy
{
	0% {right: -200px;}
	40% {right: 0;}
	60% {right: 0;}
	100% {right: -200px;}
}

@keyframes showToastyGuy
{
	0% {right: -200px;}
	40% {right: 0;}
	60% {right: 0;}
	100% {right: -200px;}
}

iframe.party{
	z-index: 1000000 !important;
	border-width: 0;
	position: fixed;
	top: 200px;
	left: 200px;
	height: 500px;
	width: 500px;
	-webkit-transition-property: left, top, -webkit-transform;
	-webkit-transition-duration: 5s, 5s, 0.5s;
	-moz-transition-property: left, top, -moz-transform;
	-moz-transition-duration: 5s, 5s, 0.5s;
}