$color-primary: #00459a;
 //$color-primary: #297CBB;

$color-secondary: #2E2E2E;

$color-gray: #9E9E9E;
$color-gray-light: #eee;
$color-gray-medium: #f3f3f3;

$color-black: #424242;
$color-black-medium: #212121;

$color-red: #E53935; 
$color-blue: #00459a;
$color-yellow: #FBC02D;
$color-green: #43A047;

$color-background: #FAFAFA;
$color-text: #616161;

// Customizer
$color-customizer-red: #E53935;
$color-customizer-pink: #D81B60; 
$color-customizer-purple: #8E24AA;
$color-customizer-deep-purple: #5E35B1;
$color-customizer-indigo: #3949AB;
$color-customizer-blue: #1E88E5;
$color-customizer-light-blue: #039BE5;
$color-customizer-cyan: #00ACC1;
$color-customizer-teal: #00897B;
$color-customizer-green: #43A047;
$color-customizer-light-green: #7CB342;
$color-customizer-lime: #C0CA33;
$color-customizer-yellow: #FDD835;
$color-customizer-amber: #FFB300;
$color-customizer-orange: #FB8C00;
$color-customizer-deep-orange: #F4511E;
$color-customizer-brown: #6D4C41;
$color-customizer-blue-grey: #546E7A;

// Brand colors
$color-facebook: #365397;
$color-twitter: #00a9f1;
$color-google-plus: #e0452c;
$color-youtube: #ff3333;
$color-vimeo: #48b6ed;
$color-pinterest: #ce1a19;
$color-dribbble: #ed4584;
$color-skype: #00acf4;
$color-instagram: #396d9a;
$color-tumblr: #304c68;
$color-linkedin: #287bbc;
$color-tripadvisor: #589442;