{% extends "empty.html" %}
{% load i18n materialize %}

{% comment %}This page is automatically used by django.contrib.auth.views{% endcomment %}

{% block title %}{% trans 'Login' %}{% endblock %}

{% block heading %}{% trans 'Log into your UTN account' %}{% endblock %}

{% block form %}
{% for error in form.non_field_errors %}
    <div class="message error">{{ error }}</div>
{% endfor %}

<div class="registration-warning">Om du tidigare har haft ett UTN-konto så kommer du behöva skapa ett nytt, detta på grund av en uppdatering i vår databas.</div>

{% if next %}
    {% if user.is_authenticated %}
        <div class="message warning">{% blocktrans %}Your account doesn't have access to this page. To proceed, please login with an account that has access.{% endblocktrans %}</div>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />

    {% materialize_field form.username prefix='account_circle' %}
    {% materialize_field form.password prefix='lock' %}

    <div class="row"><button type="submit" class="btn btn-primary right">{% trans 'Sign In' %}</button></div>

    <div class="extra-links">
        <a href="{% url 'password_reset_custom' %}">{% trans 'I forgot my password' %} <i class="material-icons">arrow_forward</i></a><br>
        <a href="{% url 'register' %}">{% trans 'Create a UTN account' %} <i class="material-icons">arrow_forward</i></a>
    </div>
</form>
{% endblock %}