{% extends "empty.html" %}
{% load i18n materialize %}

{% comment %}This page is automatically used by django.contrib.auth.views{% endcomment %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block heading %}{% trans 'Password reset' %}{% endblock %}

{% block form %}
{% if validlink %}
    <p class="flow-text">{% trans 'Please enter your new password twice so we can verify you typed it in correctly.' %}</p>

    {% for error in form.non_field_errors %}
        <div class="message error">{{ error }}</div>
    {% endfor %}

    <form method="post">
        {% csrf_token %}

        {% materialize_field form.new_password1 prefix='lock' %}

        {% materialize_field form.new_password2 prefix='vpn_key' %}

        <button type="submit" class="btn btn-primary right">{% trans 'Change my password' %}</button>
    </form>
{% else %}
    <p class="flow-text">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset link." %}</p>
{% endif %}
{% endblock %}