{% extends "empty.html" %}
{% load i18n materialize %}

{% comment %}This page is automatically used by django.contrib.auth.views{% endcomment %}

{# TODO: PAGE GETS TOO LARGE, SCROLLING DOESN'T WORK GREAT #}

{% block title %}{% trans 'Change Password' %}{% endblock %}

{% block heading %}{% trans 'Change your password' %}{% endblock %}

{% block form %}
<p class="flow-text">{% blocktrans %}Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.{% endblocktrans %}</p>

{% for error in form.non_field_errors %}
    <div class="message error">{{ error }}</div>
{% endfor %}

<form method="post">
    {% csrf_token %}

{#    <div class="form-group{% if form.errors %} has-danger{% endif %}">#}
{#        <label>{% trans 'Old password' %}</label>#}
{#        <input name="{{ form.old_password.name }}" type="password" class="form-control">#}
{#    </div><!-- /.form-group -->#}

    {% materialize_field form.old_password prefix='lock_open'%}

{#    <div class="form-group{% if form.errors %} has-danger{% endif %}">#}
{#        <label>{% trans 'New password' %}</label>#}
{#        <input name="{{ form.new_password1.name }}" type="password" class="form-control">#}
{#        {% if form.new_password1.help_text %}#}
{#        <div class="alert alert-info" role="alert">{{ form.new_password1.help_text|safe }}</div>#}
{#        {% endif %}#}
{#    </div><!-- /.form-group -->#}

    {% materialize_field form.new_password1 prefix='lock' %}

{#    <div class="form-group{% if form.errors %} has-danger{% endif %}">#}
{#        <label>{% trans 'Confirm password' %}</label>#}
{#        <input name="{{ form.new_password2.name }}" type="password" class="form-control">#}
{#        {% if form.new_password2.help_text %}#}
{#        <div class="alert alert-info" role="alert">{{ form.new_password2.help_text|safe }}</div>#}
{#        {% endif %}#}
{#    </div><!-- /.form-group -->#}

    {% materialize_field form.new_password2 prefix='vpn_key' %}

    <button type="submit" class="btn btn-primary right">{% trans 'Change my password' %}</button>
</form>
{% endblock %}