{% extends "empty.html" %}
{% load static i18n materialize %}

{% comment %}This page is automatically used by django.contrib.auth.views{% endcomment %}

{% block title %}{% trans 'Reset password' %}{% endblock %}

{% block body_class %}layout-empty{% endblock %}
{% block heading %}{% trans 'Reset your password' %}{% endblock %}
{% block form %}
<p class="flow-text">{% trans "Did you forget your password? Enter your email address below and we'll email instructions to set a new one." %}</p>

{% for error in form.non_field_errors %}
    <div class="message error">{{ error }}</div>
{% endfor %}

<form method="post" action="{% url 'password_reset_custom' %}">
    {% csrf_token %}

	{% materialize_field form.person_number 'fiber_pin' %}

    <button type="submit" class="btn btn-primary right">{% trans 'Reset my password' %}</button>
</form>
{% endblock %}