{% extends "empty.html" %}
{% load i18n %}

{% comment %}This page is automatically used by django.contrib.auth.views{% endcomment %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block heading %}{% trans 'Password reset' %}{% endblock %}

{% block form %}
{% if validlink %}
    <p class="text-justify">{% trans 'Please enter your new password twice so we can verify you typed it in correctly.' %}</p>

    {% for error in form.errors.items %}
        {% for message in error.1 %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <form method="post">
        {% csrf_token %}

        <div class="form-group{% if form.errors %} has-danger{% endif %}">
            <label>{% trans 'New password' %}</label>
            <input name="{{ form.new_password1.name }}" type="password" class="form-control">
            {% if form.new_password1.help_text %}
            <div class="alert alert-info" role="alert">{{ form.new_password1.help_text|safe }}</div>
            {% endif %}
        </div><!-- /.form-group -->

        <div class="form-group{% if form.errors %} has-danger{% endif %}">
            <label>{% trans 'Confirm password' %}</label>
            <input name="{{ form.new_password2.name }}" type="password" class="form-control">
            {% if form.new_password2.help_text %}
            <div class="alert alert-info" role="alert">{{ form.new_password2.help_text|safe }}</div>
            {% endif %}
        </div><!-- /.form-group -->

        <div class="form-group-btn">
            <button type="submit" class="btn btn-primary pull-right">{% trans 'Change my password' %}</button>
        </div><!-- /.form-group-btn -->
    </form>
{% else %}
    <p class="text-justify"><p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
{% endif %}
{% endblock %}