{% extends "empty.html" %}
{% load i18n %}

{% comment %}This page is automatically used by django.contrib.auth.views{% endcomment %}

{# TODO: PAGE GETS TOO LARGE, SCROLLING DOESN'T WORK GREAT #}

{% block title %}{% trans 'Change Password' %} — {{ block.super }}{% endblock %}

{% block heading %}{% trans 'Change your password' %}{% endblock %}

{% block form %}
<p class="text-justify">{% blocktrans %}Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.{% endblocktrans %}</p>

{% for error in form.errors.items %}
    {% for message in error.1 %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<form method="post">
    {% csrf_token %}

    <div class="form-group{% if form.errors %} has-danger{% endif %}">
        <label>{% trans 'Old password' %}</label>
        <input name="{{ form.old_password.name }}" type="password" class="form-control">
    </div><!-- /.form-group -->

    <div class="form-group{% if form.errors %} has-danger{% endif %}">
        <label>{% trans 'New password' %}</label>
        <input name="{{ form.new_password1.name }}" type="password" class="form-control">
        {% if form.new_password1.help_text %}
        <div class="alert alert-info" role="alert">{{ form.new_password1.help_text|safe }}</div>
        {% endif %}
    </div><!-- /.form-group -->

    <div class="form-group{% if form.errors %} has-danger{% endif %}">
        <label>{% trans 'New password confirmation' %}</label>
        <input name="{{ form.new_password2.name }}" type="password" class="form-control">
        {% if form.new_password2.help_text %}
        <div class="alert alert-info" role="alert">{{ form.new_password2.help_text|safe }}</div>
        {% endif %}
    </div><!-- /.form-group -->

    <div class="form-group-btn">
        <button type="submit" class="btn btn-primary pull-right">{% trans 'Change my password' %}</button>
    </div><!-- /.form-group-btn -->
</form>
{% endblock %}