{% load i18n static instagram_tags %}
{% get_latest_media value.account_name as latest_media %}
<div class="header">
	<img class="icon" src="{% static 'branding/images/social/instagram-black.png' %}"
		alt="{% trans 'instagram icon'|capfirst %}">
	<span>@{{value.account_name}}</span>
</div>
{% if latest_media.error_message %}
	{{ latest_media.error_message }}
{% else %}
	{% get_latest_media value.account_name as latest_media %}
	{% if latest_media.media_type == "VIDEO" %}
	<video poster="{{latest_media.thumbnail_url}}" controls>
		<source src="{{latest_media.media_url}}">
	</video>
	{% else %}
	<a href="{{latest_media.permalink}}" target="_blank">
		<img src="{{latest_media.media_url}}" />
	</a>
	{% endif %}
{% endif %}