{% load i18n %}

<dl>
    <dt>{% trans 'membership status'|capfirst %}</dt>
    <dd>{{ application.applicant.get_status }}</dd>
    <dt>{% trans 'email address'|capfirst %}</dt>
    <dd>{{ application.applicant.email }}</dd>
    {% if application.cover_letter %}
        <dt>{% trans 'cover letter'|capfirst %}</dt>
        <dd>{{ application.cover_letter|linebreaks }}</dd>
    {% endif %}
    {% if application.qualifications %}
        <dt>{% trans 'qualifications'|capfirst %}</dt>
        <dd>{{ application.qualifications }}</dd>
    {% endif %}

    
    {% if application.references.all %}
        <dt>{% trans 'references'|capfirst %}</dt>
        <dd>
            <ul>
                {% for ref in application.references.all %}
                    <li style="padding-top: 10px; margin-left: 20px; list-style-type: circle;">{{ ref|linebreaks }}</li>
                {% endfor %}
            </ul>
        </dd>
    {% endif %}
</dl>
